<div class="modal-header">
    <h4 class="modal-title"><i class="lumen-icon__graphic lumen-icon__graphic--warning"></i>&nbsp;{{::vm.modalTitle}}</h4>
</div>
<div class="modal-body row">
    <div class="heading-5 col-xs-1">
        <i style="font-size: 24px;" class="lumen-icon__graphic lumen-icon__graphic--warning modal-icon"></i>
    </div>
    <div class="heading-5 col-xs-11">
        <div><strong>{{::vm.modalWarning}}</strong></div>
        <br/>
        <div class="heading-5">{{::vm.modalQuestion}}</div>
    </div>

</div>
<div class="modal-footer">
    <button id="yesModalButton" class="btn btn-danger" data-ng-click="vm.confirm()">Yes</button>
    <button id="noModalButton" class="btn btn-default" data-ng-click="vm.decline()">No</button>
</div>
